.fade {
    display: none;
}

.hide-container
.any-feature-all
.any-feature-number
.html-class-opt
.css-class-opt
.any-slider-opt
.color-opt

/* slider button */
.btn-round {
    border: 1px solid #000;
    color: #615a60;
}

.btn-round:hover {
    background-color: #b59890;
    color: #fff;
}

.btn-round a {
    color: #615a60;
}

.btn-round a:hover {
    color: #fff;
}

.btn-round.active {
    background-color: #b59890 !important;
}

.btn-round.active.nav-link {
    color: #fff !important;
}

a:hover {
    text-decoration: none; 
    color: #b59890;
}

a {
    color: #615a60;
}

.nav-link {
    color: #615a60;
    border-color: transparent;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #b59890; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
opacity: .7; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #615a60;
    cursor: col-resize; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #615a60;
    cursor: col-resize; /* Cursor on hover */
}

.strikethrough {
    text-decoration: line-through;
}

.whitespace {
    
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.red {
    background-color: #ffe6e6;
}

.blue {
    background-color: #e1d4ff;
}

.white {
    background-color: #ffffff;
}

.grey {
    background-color: #f1f1f1;
}

.green {
    background-color: #c9ffcf;
}

.badge-item {
    border-radius: .25rem;
}

.badge-link {
    border-radius: .25rem;
    padding: .2em;
    margin: 0 .1em;
}

.badge-link:hover {
    color: #b59890;
}

.loader {
    position: absolute;
    top: 10%;
    left: 50%;
    border: 8px solid #f1f1f1; /* Light grey */
    border-top: 8px solid #b59890; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    animation: spin 2s linear infinite;
    margin: 5em auto;
}